# Job Application Tracker
*A Deep Dive into the ETL and Analysis Process*

This notebook provides a detailed walkthrough of the data transformation, modeling, and validation for the Job Application Tracker project. We'll explore the M code used in Power Query, validate the transformations using Python (Pandas), and showcase the final data model and key DAX measures.

## 1. Setup & Data Loading
In this section, we'll load the raw data from our Excel file into pandas DataFrames. We'll start by importing the necessary libraries and then load the two key sheets: `data_entry` and `list`.

### 1.1 Library Imports & Warning Handling
We import `pandas` for data manipulation. We also import the `warnings` library to handle a specific `UserWarning` that `openpyxl` (the engine pandas uses to read `.xlsx` files) can generate. This warning is related to Excel features like Data Validation rules not being fully parsed, which is perfectly fine for our purposes. We filter it out to keep our notebook output clean and focused.

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore",category=UserWarning, module="openpyxl")

### 1.2 Excel Setup: Data Validation for Consistency
To ensure data quality and prevent typos during manual entry, I implemented a structured data validation system directly within Excel.
1.  **`list` Sheet:** It was created to hold all the predefined values for categorical columns.
2.  **`data_entry` Sheet:** It is the main data entry sheet which I applied Excel's Data Validation feature to the relevant columns.
By navigating to Data > Data Tools > Data Validation, I set the criteria to "Allow: List" and sourced the options from the `list` sheet.

![Drop down menu setup for Example column - Job_Type](images/job_type_DV_setting.png)

Now, let's load these two sheets and examine the first few rows of each DataFrame.

In [2]:
file_path = 'data/job_data_entry.xlsx'

# Load 'list' sheet into DF and print first 5 rows
df_list = pd.read_excel(file_path, sheet_name = 'list')
print("--- Drop-down Menu Options from 'list' sheet ---")
display(df_list.head())

# Load 'data_entry' sheet into DF and print first 5 rows
df_data_entry = pd.read_excel(file_path, sheet_name = 'data_entry')
print("\n--- Raw Job Application Data from 'data_entry' sheet ---")
display(df_data_entry.head())

--- Drop-down Menu Options from 'list' sheet ---

             Job_Type        Status    Eligibility Skill_Type
0  Internship / Co-op       Applied        Citizen       Hard
1            Contract  Interviewing             PR       Soft
2           Part_Time         Offer  Co-op Program      Asset
3           Full_Time      Rejected            Any        NaN
4                 NaN       Ghosted            NaN        NaN

--- Raw Job Application Data from 'data_entry' sheet ---

,Company_Name,Job_Title,Job_Type,Location,Salary_Min,Salary_Max,Skill_Name,Skill_Type,Education,Eligibility,Department,Email,Application_Deadline,URL,Applied_Date,First_Respond_Date,Status
0,OMERS,"Student, Portfolio Analytics",Internship,"Toronto, ON",NaN,NaN,"Python, Intermediate financial modeling skills...",Hard,"Undergraduate in Computer Science, Math, or Bu...",Co-op Program,Investment Team,NaN,NaT,https://careers.omers.com/ca/en/job/JR-7464/St...,2025-09-08,NaT,Applied
1,NaN,NaN,NaN,NaN,NaN,NaN,"Communication, Team working ability, Integrity...",Soft,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,HTML/SQL,Asset,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN
3,TD Bank,Asset Management Portfolio Analytics data anal...,Internship,"Toronto, ON",48000.0,68000.0,"SQL, Python, Business Intelligence tools",Hard,"Undergraduate in Computer Science, Math, Engin...",Co-op Program,"Portfolio Research & Analytics team, TD Asset ...",NaN,2025-09-26,https://td.wd3.myworkdayjobs.com/TD_Bank_Caree...,2025-09-06,NaT,Applied
4,NaN,NaN,NaN,NaN,NaN,NaN,"Communication, Team working ability",Soft,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN

### 1.3 Main DataFrame Summary
Below is a quick health check on the main DataFrame, `df_data_entry`. It helps to understand the structure, data types (Dtypes), and completeness of the dataset we just loaded.

In [3]:
print("--- Technical Summary of the Raw Data ---")
df_data_entry.info()

--- Technical Summary of the Raw Data ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company_Name          4 non-null      object
 1   Job_Title             4 non-null      object
 2   Job_Type              4 non-null      object
 3   Location              4 non-null      object
 4   Salary_Min            1 non-null      float64
 5   Salary_Max            1 non-null      float64
 6   Skill_Name            10 non-null     object
 7   Skill_Type            10 non-null     object
 8   Education             4 non-null      object
 9   Eligibility           4 non-null      object
 10  Department            3 non-null      object
 11  Email                 1 non-null      object
 12  Application_Deadline  2 non-null      datetime64[ns]
 13  URL                   4 non-null      object
 14  Applied_Date          4 non-null      datetime64[ns]
 15  First_Respond_Date    2 non-null      datetime64[ns]
 16  Status                4 non-null      object
dtypes: datetime64[ns](3), float64(2), object(12)
memory usage: 1.5+ KB


You may notice in the summary above that several columns, such as 'Company Name' and 'Job Title', have non-null counts that are lower than the total number of entries.

This is **expected and intentional**. 
* For a single job application, all associated skills (soft, hard, and asset) are listed on **separate, subsequent rows**.
* To avoid redundancy, the general job details (Company, Title, Date, etc.) are only entered on the **first row** for that application.

Therefore, the `null` values in these columns for the skill rows are not errors or missing information. They are simply a structural artifact that will be handled during the data transformation and cleaning phase, likely by using a "fill down" operation in Power Query.

## 2. Documenting the ETL Process (Power Query)
The core of this project's data preparation happens in Power Query. The raw, flat data from the Excel sheet is transformed into a clean, normalized star schema consisting of several dimension tables and one fact table. This section documents the M code used to create each key dimension table.

### 2.1 Creating `Dim_Companies`
This dimension table was created to hold a unique, clean list of all company names. Using a dimension table for companies prevents data redundancy and ensures that any analysis grouped by company is accurate.

**Power Query M Code**
```m
let
    Source = Excel.CurrentWorkbook(){[Name="JobDataEntry"]}[Content],
    #"Changed Type" = Table.TransformColumnTypes(Source,{{"Company_Name", type text}, {"Job_Title", type text}, {"Job_Type", type text}, {"Location", type text}, {"Salary_Min", type any}, {"Salary_Max", type any}, {"Skill_Name", type text}, {"Skill_Type", type text}, {"Education", type text}, {"Eligibility", type text}, {"Department", type text}, {"Email", type any}, {"Application_Deadline", type any}, {"URL", type text}, {"Applied_Date", type datetime}, {"Status", type text}}),
    #"Filled Down" = Table.FillDown(#"Changed Type",{"Company_Name", "Job_Title", "Job_Type", "Location", "Salary_Min", "Salary_Max", "Skill_Name", "Skill_Type", "Education", "Eligibility", "Department", "Email", "Application_Deadline", "URL", "Applied_Date", "Status"}),
    #"Changed Type1" = Table.TransformColumnTypes(#"Filled Down",{{"Applied_Date", type date}}),
    #"Removed Other Columns" = Table.SelectColumns(#"Changed Type1",{"Company_Name"}),
    #"Removed Duplicates" = Table.Distinct(#"Removed Other Columns"),
    #"Added Index" = Table.AddIndexColumn(#"Removed Duplicates", "Index", 1, 1, Int64.Type),
    #"Renamed Columns" = Table.RenameColumns(#"Added Index",{{"Index", "CompanyID"}})
in
    #"Renamed Columns"
```

In [4]:
df_dimC = pd.read_excel(file_path, sheet_name = 'Dim_Companies')
print("--- List of Company Names ---")
display(df_dimC.head())

print("--- Technical Summary of the Companies dimension table ---")
df_dimC.info()

--- List of Company Names ---

  Company_Name  CompanyID
0        OMERS          1
1     TD Bank           2
2     Shopify           3
3     Ericsson          4

--- Technical Summary of the Companies dimension table ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  4 non-null      object
 1   CompanyID     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

### 2.2 Creating Dim_Job_Deatils
This table is designed to store all the static, descriptive attributes of a job posting. By creating a unique entry for each distinct job, we can analyze the characteristics of the roles being applied for, such as their required education, location, and salary range. This rich contextual data is crucial for uncovering deeper insights from the job search.

**Power Query M Code**
```m
let
    Source = Excel.CurrentWorkbook(){[Name="JobDataEntry"]}[Content],
    #"Changed Type" = Table.TransformColumnTypes(Source,{{"Company_Name", type text}, {"Job_Title", type text}, {"Job_Type", type text}, {"Location", type text}, {"Salary_Min", type any}, {"Salary_Max", type any}, {"Skill_Name", type text}, {"Skill_Type", type text}, {"Education", type text}, {"Eligibility", type text}, {"Department", type text}, {"Email", type any}, {"Application_Deadline", type any}, {"URL", type text}, {"Applied_Date", type datetime}, {"Status", type text}}),
    #"Removed Other Columns" = Table.SelectColumns(#"Changed Type",{"Company_Name", "Job_Title", "Job_Type", "Location", "Salary_Min", "Salary_Max", "Education", "Eligibility", "Department", "Email", "Application_Deadline", "URL"}),
    #"Removed Duplicates" = Table.Distinct(#"Removed Other Columns", {"Job_Title"}),
    #"Merged Queries" = Table.NestedJoin(#"Removed Duplicates", {"Company_Name"}, Dim_Companies, {"Company_Name"}, "Dim_Companies", JoinKind.LeftOuter),
    #"Expanded Dim_Companies" = Table.ExpandTableColumn(#"Merged Queries", "Dim_Companies", {"CompanyID"}, {"Dim_Companies.CompanyID"}),
    #"Removed Blank Rows" = Table.SelectRows(#"Expanded Dim_Companies", each not List.IsEmpty(List.RemoveMatchingItems(Record.FieldValues(_), {"", null}))),
    #"Added Index" = Table.AddIndexColumn(#"Removed Blank Rows", "Index", 1, 1, Int64.Type),
    #"Renamed Columns" = Table.RenameColumns(#"Added Index",{{"Index", "JobID"}, {"Dim_Companies.CompanyID", "CompanyID"}}),
    #"Changed Type1" = Table.TransformColumnTypes(#"Renamed Columns",{{"Application_Deadline", type date}}),
    #"Removed Columns" = Table.RemoveColumns(#"Changed Type1",{"Company_Name"}),
    #"Changed Type2" = Table.TransformColumnTypes(#"Removed Columns",{{"Salary_Min", Currency.Type}, {"Salary_Max", Currency.Type}}),
    #"Removed Columns1" = Table.RemoveColumns(#"Changed Type2",{"Application_Deadline"}),
    #"Reordered Columns" = Table.ReorderColumns(#"Removed Columns1",{"CompanyID", "JobID", "Job_Title", "Job_Type", "Location", "Salary_Min", "Salary_Max", "Education", "Eligibility", "Department", "Email", "URL"})
in
    #"Reordered Columns"
```

In [5]:
df_dimJ = pd.read_excel(file_path, sheet_name = 'Dim_Job_Details')
print("--- List of Job Position Details ---")
display(df_dimJ.head())

print("--- Technical Summary of the Job Details dimension table ---")
df_dimJ.info()

--- List of Job Position Details ---

,CompanyID,JobID,Job_Title,Job_Type,Location,Salary_Min,Salary_Max,Education,Eligibility,Department,Email,URL
0,1,1,"Student, Portfolio Analytics",Internship,"Toronto, ON",NaN,NaN,"Undergraduate in Computer Science, Math, or Bu...",Co-op Program,Investment Team,NaN,https://careers.omers.com/ca/en/job/JR-7464/St...
1,2,2,Asset Management Portfolio Analytics data anal...,Internship,"Toronto, ON",48000.0,68000.0,"Undergraduate in Computer Science, Math, Engin...",Co-op Program,"Portfolio Research & Analytics team, TD Asset ...",NaN,https://td.wd3.myworkdayjobs.com/TD_Bank_Caree...
2,3,3,Data Internships 2026,Internship,"Ottawa, ON",NaN,NaN,"Soon-to-be Grad, recent Grad, Self-taught",Any,NaN,NaN,https://www.shopify.com/careers/data-internshi...
3,4,4,PMO Data Analyst Coop / Intern,Internship,"Ottawa, ON",NaN,NaN,ongoing Commerce or Business degree,Co-op Program,Project Management,hr.direct.americas@ericsson.com,https://jobs.ericsson.com/careers/job/56312177...

--- Technical Summary of the Job Details dimension table ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CompanyID    4 non-null      int64
 1   JobID        4 non-null      int64
 2   Job_Title    4 non-null      object
 3   Job_Type     4 non-null      object
 4   Location     4 non-null      object
 5   Salary_Min   1 non-null      float64
 6   Salary_Max   1 non-null      float64
 7   Education    4 non-null      object
 8   Eligibility  4 non-null      object
 9   Department   3 non-null      object
 10  Email        1 non-null      object
 11  URL          4 non-null      object
dtypes: float64(2), int64(2), object(8)
memory usage: 516.0+ bytes


Null values in the `salary_min` and `salary_max` columns are expected, as a significant number of job postings do not disclose salary information. These nulls are handled accordingly and do not affect the primary goals of this analysis.

### 2.3 Creating Dim_Skills
The `Skill_Name` column in the raw data was a single text field containing multiple skills separated by commas. To enable skill-based analysis, this data needed to be normalized so that each skill existed on its own row in a dedicated dimension table.

**Power Query M Code**
```m
let
    Source = Excel.CurrentWorkbook(){[Name="JobDataEntry"]}[Content],
    #"Changed Type" = Table.TransformColumnTypes(Source,{{"Company_Name", type text}, {"Job_Title", type text}, {"Job_Type", type text}, {"Location", type text}, {"Salary_Min", type any}, {"Salary_Max", type any}, {"Skill_Name", type text}, {"Skill_Type", type text}, {"Education", type text}, {"Eligibility", type text}, {"Department", type text}, {"Email", type any}, {"Application_Deadline", type any}, {"URL", type text}, {"Applied_Date", type datetime}, {"Status", type text}}),
    #"Removed Other Columns" = Table.SelectColumns(#"Changed Type",{"Company_Name", "Job_Title", "Skill_Name", "Skill_Type"}),
    #"Filled Down" = Table.FillDown(#"Removed Other Columns",{"Company_Name", "Job_Title"}),
    #"Merged Queries" = Table.NestedJoin(#"Filled Down", {"Job_Title"}, Dim_Job_Details, {"Job_Title"}, "Dim_Jobs", JoinKind.LeftOuter),
    #"Merged Queries1" = Table.NestedJoin(#"Merged Queries", {"Company_Name"}, Dim_Companies, {"Company_Name"}, "Dim_Companies", JoinKind.LeftOuter),
    #"Expanded Dim_Companies" = Table.ExpandTableColumn(#"Merged Queries1", "Dim_Companies", {"CompanyID"}, {"Dim_Companies.CompanyID"}),
    #"Expanded Dim_Jobs" = Table.ExpandTableColumn(#"Expanded Dim_Companies", "Dim_Jobs", {"JobID"}, {"Dim_Jobs.JobID"}),
    #"Renamed Columns" = Table.RenameColumns(#"Expanded Dim_Jobs",{{"Dim_Jobs.JobID", "JobID"}, {"Dim_Companies.CompanyID", "CompanyID"}}),
    #"Split Column by Delimiter" = Table.ExpandListColumn(Table.TransformColumns(#"Renamed Columns", {{"Skill_Name", Splitter.SplitTextByDelimiter(",", QuoteStyle.Csv), let itemType = (type nullable text) meta [Serialized.Text = true] in type {itemType}}}), "Skill_Name"),
    #"Changed Type1" = Table.TransformColumnTypes(#"Split Column by Delimiter",{{"Skill_Name", type text}}),
    #"Removed Columns" = Table.RemoveColumns(#"Changed Type1",{"Company_Name", "Job_Title"}),
    #"Reordered Columns" = Table.ReorderColumns(#"Removed Columns",{"CompanyID", "JobID", "Skill_Name", "Skill_Type"})
in
    #"Reordered Columns"
```

In [6]:
df_dimS = pd.read_excel(file_path, sheet_name = 'Dim_Skills')
print("--- List of Required/Opt Skills ---")
display(df_dimS.head())

print("--- Technical Summary of the Job Required Skills dimension table ---")
df_dimS.info()

--- List of Required/Opt Skills ---

,CompanyID,JobID,Skill_Name,Skill_Type
0,1,1,Python,Hard
1,1,1,Intermediate financial modeling skills (regre...,Hard
2,1,1,Communication,Soft
3,1,1,Team working ability,Soft
4,1,1,Integrity,Soft

--- Technical Summary of the Job Required Skills dimension table ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CompanyID   26 non-null     int64
 1   JobID       26 non-null     int64
 2   Skill_Name  26 non-null     object
 3   Skill_Type  26 non-null     object
dtypes: int64(2), object(2)
memory usage: 964.0+ bytes

### 2.4 Creating Dim_Applications
This table isolates attributes related to the application event itself, such as key dates and the application status. This is useful for tracking timelines and outcomes.

**Power Query M Code**
```m
let
    Source = Excel.CurrentWorkbook(){[Name="JobDataEntry"]}[Content],
    #"Changed Type" = Table.TransformColumnTypes(Source,{{"Company_Name", type text}, {"Job_Title", type text}, {"Job_Type", type text}, {"Location", type text}, {"Salary_Min", type any}, {"Salary_Max", type any}, {"Skill_Name", type text}, {"Skill_Type", type text}, {"Education", type text}, {"Eligibility", type text}, {"Department", type text}, {"Email", type any}, {"Application_Deadline", type any}, {"URL", type text}, {"Applied_Date", type datetime}, {"Status", type text}}),
    #"Removed Other Columns" = Table.SelectColumns(#"Changed Type",{"Company_Name", "Job_Title", "Application_Deadline", "URL", "Applied_Date", "First_Respond_Date", "Status"}),
    #"Removed Duplicates" = Table.Distinct(#"Removed Other Columns", {"Job_Title"}),
    #"Merged Queries" = Table.NestedJoin(#"Removed Duplicates", {"Job_Title"}, Dim_Job_Details, {"Job_Title"}, "Dim_Jobs", JoinKind.LeftOuter),
    #"Expanded Dim_Jobs" = Table.ExpandTableColumn(#"Merged Queries", "Dim_Jobs", {"JobID"}, {"Dim_Jobs.JobID"}),
    #"Renamed Columns" = Table.RenameColumns(#"Expanded Dim_Jobs",{{"Dim_Jobs.JobID", "JobID"}}),
    #"Changed Type1" = Table.TransformColumnTypes(#"Renamed Columns",{{"Applied_Date", type date}}),
    #"Removed Blank Rows" = Table.SelectRows(#"Changed Type1", each not List.IsEmpty(List.RemoveMatchingItems(Record.FieldValues(_), {"", null}))),
    #"Changed Type2" = Table.TransformColumnTypes(#"Removed Blank Rows",{{"Application_Deadline", type date}, {"First_Respond_Date", type date}}),
    #"Merged Queries1" = Table.NestedJoin(#"Changed Type2", {"Company_Name"}, Dim_Companies, {"Company_Name"}, "Dim_Companies", JoinKind.LeftOuter),
    #"Expanded Dim_Companies" = Table.ExpandTableColumn(#"Merged Queries1", "Dim_Companies", {"CompanyID"}, {"Dim_Companies.CompanyID"}),
    #"Removed Columns" = Table.RemoveColumns(#"Expanded Dim_Companies",{"Company_Name", "Job_Title"}),
    #"Renamed Columns1" = Table.RenameColumns(#"Removed Columns",{{"Dim_Companies.CompanyID", "CompanyID"}}),
    #"Reordered Columns" = Table.ReorderColumns(#"Renamed Columns1",{"JobID", "CompanyID", "Application_Deadline", "URL", "Applied_Date", "First_Respond_Date", "Status"})
in
    #"Reordered Columns"
```

In [7]:
df_dimA = pd.read_excel(file_path, sheet_name = 'Dim_Applications')
print("--- List of Application Status ---")
display(df_dimA.head())

print("--- Technical Summary of the Applications dimension table ---")
df_dimA.info()

--- List of Application Status ---

,JobID,CompanyID,Application_Deadline,URL,Applied_Date,First_Respond_Date,Status
0,1,1,NaT,https://careers.omers.com/ca/en/job/JR-7464/St...,2025-09-08,NaT,Applied
1,2,2,2025-09-26,https://td.wd3.myworkdayjobs.com/TD_Bank_Caree...,2025-09-06,NaT,Applied
2,3,3,2025-09-15,https://www.shopify.com/careers/data-internshi...,2025-08-20,2025-09-23,Rejected
3,4,4,NaT,https://jobs.ericsson.com/careers/job/56312177...,2025-09-10,2025-09-15,Rejected

--- Technical Summary of the Applications dimension table ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   JobID                 4 non-null      int64
 1   CompanyID             4 non-null      int64
 2   Application_Deadline  2 non-null      datetime64[ns]
 3   URL                   4 non-null      object
 4   Applied_Date          4 non-null      datetime64[ns]
 5   First_Respond_Date    2 non-null      datetime64[ns]
 6   Status                4 non-null      object
dtypes: datetime64[ns](3), int64(2), object(2)
memory usage: 356.0+ bytes


Null values in the `Application_Deadline`columns is expected, as a significant number of job postings do not disclose this information. For `First_Respond_Date` columns, Null values also is expected as information won't be provided when raw data entries.